/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel .item .main-item {
  background: url(/website_vauxoo/static/src/img/banner.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 900, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background: url(/website_vauxoo/static/src/img/banner.png), -webkit-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/banner.png), -moz-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/banner.png), -o-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/banner.png), radial-gradient(#ffffff, #cfcfcf 900px);
  background-repeat: no-repeat;
  background-right: 5%;
  background-position: 90% center;
}
.carousel .homevauxoo.container {
    padding:10% 0 10% 0;
}
.carousel .main-item-openerp, .carousel .main-item {
    height: 600px;
}
div.row.main-item .container {
    background-image: url(/website_vauxoo/static/src/img/america_latina.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.carousel .item .main-item-openerp {
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 900, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner.png), -webkit-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner.png), -moz-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner.png), -o-radial-gradient(#ffffff, #cfcfcf 900px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner.png), radial-gradient(#ffffff, #cfcfcf 900px);
  background-repeat: no-repeat;
  background-right: 5%;
  background-position: 10% center;
}
/* SLIDES ON HOME 
-------------------*/

.porquevauxoo {
  background: url(/website_vauxoo/static/src/img/VAUXOOBigIcon.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 2160, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background: url(/website_vauxoo/static/src/img/VAUXOOBigIcon.png), -webkit-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/VAUXOOBigIcon.png), -moz-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/VAUXOOBigIcon.png), -o-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/VAUXOOBigIcon.png), radial-gradient(#ffffff, #cfcfcf 2160px);
  background-repeat: no-repeat;
  background-right: 5%;
  background-position: 90% center;
}

.porqueopenerp {
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner_t.png), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 2160, color-stop(0%, #ffffff), color-stop(100%, #cfcfcf));
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner_t.png), -webkit-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner_t.png), -moz-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner_t.png), -o-radial-gradient(#ffffff, #cfcfcf 2160px);
  background: url(/website_vauxoo/static/src/img/openerp_gold_partner_t.png), radial-gradient(#ffffff, #cfcfcf 2160px);
  background-repeat: no-repeat;
  background-position: 90% 5%;
}
/**
 * Footer Stuff
 */
.poweredby {
position: relative;
width: 48px;
height: 100px;
background: url('/website_vauxoo/static/src/img/poweredbyvauxoo.png') no-repeat;
margin: 0px auto;
}
