.openerp .oe_topbar {
  background-color: #414141;
  background-color: #454343;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646060), to(#262626));
  background-image: -webkit-linear-gradient(top, #AB0000, #A41D35);
  background-image: -moz-linear-gradient(top, #AB0000, #A41D35);
  background-image: -ms-linear-gradient(top, #AB0000, #A41D35);
  background-image: -o-linear-gradient(top, #AB0000, #A41D35);
  background-image: linear-gradient(to bottom, #AB0000, #A41D35);
}
