.openerp .bs3 .oe_menu > li > a {
    height: 50px; /**Forcing height to avoid openerp break bootstrap's layout*/ 
}

.openerp .oe_menu > li > .oe_active {
background: rgba(0, 0, 0, 0.1);
text-shadow: black 0px 0px 1px;
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.openerp .oe_topbar span.oe_user_menu {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 17px;
}

.openerp .oe_topbar span.oe_user_menu img {
    vertical-align: middle;
}

.openerp .oe_topbar_item.oe_topbar_compose_full_email,
.openerp .oe_topbar_item.oe_topbar_compose_full_email span {
    font-size: 15px;
    height: auto;
    top: 0px;
    vertical-align: middle;
    padding-top: 0;
}
/**
.openerp .oe_topbar .oe_topbar_item {
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}
*/
/**
.openerp .oe_topbar .oe_systray > button {
    line-height: auto;
}
*/
/**
.openerp td.oe_topbar ul{
    border-color: rgb(70, 50, 101);
    border-width: 0px 0px 1px;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}
*/
td .bs3 .navbar {
    margin-bottom: 0px;
}
.openerp .oe_menu {
    font-size: auto;
}

.bs3 .navbar-inverse .navbar-collapse {
    background-color: #A41D35;
}
.bs3 .navbar-inverse .navbar-nav > li > a {
    color: #DFDFDE;
}
