image: vauxoo/odoo-80-image-shippable-auto
stages:
  - test
  - test_build
  - build
  - upload_image

variables:
    PSQL_VERSION: "9.5"
    VERSION: "10.0"
    ODOO_REPO: "vauxoo/odoo"
    ODOO_BRANCH: "saas-14"
    INCLUDE: "vauxoo"
    INSTALL: "vauxoo"
    BASE_IMAGE: "vauxoo/odoo-100-image"

lint:
  stage: test
  tags:
    - lint
  variables:
    LINT_CHECK: "1"
    TESTS: "0"
  script:
    - export TRAVIS_BUILD_DIR=$(pwd)
    - git clone -b master --single-branch --depth=1 https://git.vauxoo.com/vauxoo/gitlab_tools.git ${TRAVIS_BUILD_DIR}/gitlab_tools
    - git clone https://github.com/vauxoo/maintainer-quality-tools.git -b master ${TRAVIS_BUILD_DIR}/maintainer-quality-tools
    - export PATH=${TRAVIS_BUILD_DIR}/maintainer-quality-tools/travis:${TRAVIS_BUILD_DIR}/gitlab_tools:${PATH}
    - sudo apt-get update && sudo apt-get install -y dos2unix
    - check_keys
    - travis_install_nightly
    - travis_run_tests

test:
  stage: test
  tags:
    - odoo
    - test
  variables:
    LINT_CHECK: "0"
    TESTS: "1"
  script:
    - export TRAVIS_BUILD_DIR=$(pwd)
    - git clone -b master --single-branch --depth=1 https://git.vauxoo.com/vauxoo/gitlab_tools.git ${TRAVIS_BUILD_DIR}/gitlab_tools
    - git clone https://github.com/vauxoo/maintainer-quality-tools.git -b master ${TRAVIS_BUILD_DIR}/maintainer-quality-tools
    - export PATH=${TRAVIS_BUILD_DIR}/maintainer-quality-tools/travis:${TRAVIS_BUILD_DIR}/gitlab_tools:${PATH}
    - apt-get update && apt-get install -y tree dos2unix
    - check_keys
    - travis_install_nightly
    - rm -rf /root/odoo-${VERSION} ; git clone -b saas-14 --single-branch --depth=1 -q https://github.com/Vauxoo/odoo.git /root/odoo-${VERSION}
    - ls -lah
    - pwd
    - tree -L 2
    - travis_run_tests
    - cat /root/.openerp_serverrc
    - travis_after_tests_success || true

build:
  stage: build
  tags:
    - build
  script:
    - git clone -q --single-branch -b master --depth=1 https://git.vauxoo.com/vauxoo/gitlab_tools.git
    - ./gitlab_tools/test_images

compile_doc:
  stage: test
  only:
    - 10.0@vauxoo/instance
  when: on_success
  tags:
    - build
  script:
    - git clone -q git@git.vauxoo.com:vauxoo/instance.wiki.git
    - cd instance.wiki && cp -R ../vauxoo/doc/* . && cat ../vauxoo/doc/home.md ../README.md > home.md
    - sh -c "if ! git diff-files --quiet --ignore-submodules; then git add . && git commit -m \"[ADD] Updated by ${CI_BUILD_REF}\" && git push origin master; fi"

upload_image:
  stage: upload_image
  only:
    - 10.0@vauxoo/instance
  when: on_success
  tags:
    - build
  script:
    - export IMAGE_TAG=$(python -c "print '${CI_BUILD_REF}'[7].lower()")
    - docker pull ${BASE_IMAGE}
    - deployvcmd build -u ${CI_BUILD_REPO} -v ${CI_BUILD_REF_NAME} -i ${BASE_IMAGE} -O "${ODOO_REPO}#${ODOO_BRANCH}"
    - docker tag instance100 quay.io/vauxoo/vauxoo100:latest
    - docker push quay.io/vauxoo/vauxoo100:latest
    - docker tag instance100 quay.io/vauxoo/vauxoo100:${IMAGE_TAG}
    - docker push quay.io/vauxoo/vauxoo100:${IMAGE_TAG}
