image: vauxoo/odoo-80-image-shippable-auto
stages:
  - test
  - test_build
  - build
  - upload_image

variables:
    PSQL_VERSION: "9.5"
    VERSION: "11.0"
    ODOO_REPO: "vauxoo/odoo"
    ODOO_BRANCH: "11.0"
    INCLUDE: "pima"
    INSTALL: "pima"
    CUSTOMER: "pima"
    BASE_IMAGE: "vauxoo/odoo-110-image"
    http_proxy: http://172.17.0.1:3128
    https_proxy: http://172.17.0.1:3128
    ftp_proxy: http://172.17.0.1:3128

lint:
  stage: test
  tags:
    - lint
  variables:
    LINT_CHECK: "1"
    TESTS: "0"
  script:
    - export TRAVIS_BUILD_DIR=$(pwd)
    - sudo apt-get update && sudo apt-get install -y dos2unix
    - pip install deployv-addon-gitlab-tools
    - deployvcmd gitlab_tools check_keys
    - git clone https://github.com/vauxoo/maintainer-quality-tools.git -b master ${HOME}/maintainer-quality-tools
    - export PATH=${HOME}/maintainer-quality-tools/travis:${HOME}/gitlab_tools:${PATH}
    - travis_install_nightly
    - travis_run_tests

test:
  stage: test
  tags:
    - odoo
    - test
  variables:
    LINT_CHECK: "0"
    TESTS: "1"
  script:
    - export TRAVIS_BUILD_DIR=$(pwd)
    - apt-get update && apt-get install -y tree dos2unix
    - pip install deployv-addon-gitlab-tools
    - deployvcmd gitlab_tools check_keys
    - source /.repo_requirements/virtualenv/python3.5/bin/activate
    - git clone https://github.com/vauxoo/maintainer-quality-tools.git -b master ${HOME}/maintainer-quality-tools
    - export PATH=${HOME}/maintainer-quality-tools/travis:${HOME}/gitlab_tools:${PATH}
    - travis_install_nightly
    - travis_run_tests
    - travis_after_tests_success || true
    - coverage html --rcfile=${TRAVIS_BUILD_DIR}/.coveragerc -d $CI_COMMIT_REF_NAME
    - coverage report -m --show-missing --rcfile=${TRAVIS_BUILD_DIR}/.coveragerc | tee $CI_COMMIT_REF_NAME/coverage.txt
  artifacts:
    paths:
      - $CI_COMMIT_REF_NAME

nodemo:
  stage: test
  tags:
    - odoo
    - test
  variables:
    LINT_CHECK: "0"
    TESTS: "1"
    TEST_ENABLE: "0"
    OPTIONS: "--without-demo=all"
    INSTALL_OPTIONS: "--without-demo=all"
  script:
    - export TRAVIS_BUILD_DIR=$(pwd)
    - apt-get update && apt-get install -y tree dos2unix
    - pip install deployv-addon-gitlab-tools
    - deployvcmd gitlab_tools check_keys
    - source /.repo_requirements/virtualenv/python3.5/bin/activate
    - git clone https://github.com/vauxoo/maintainer-quality-tools.git -b master ${HOME}/maintainer-quality-tools
    - export PATH=${HOME}/maintainer-quality-tools/travis:${HOME}/gitlab_tools:${PATH}
    - travis_install_nightly
    - travis_run_tests
    - travis_after_tests_success || true

build:
  stage: build
  tags:
    - build
  variables:
    http_proxy: http://127.0.0.1:3128
    https_proxy: http://127.0.0.1:3128
    ftp_proxy: http://127.0.0.1:3128
  script:
    - pip install deployv-addon-gitlab-tools
    - deployvcmd gitlab_tools test_images

compile_doc:
  stage: test
  only:
    - 11.0@vauxoo/pima
  when: on_success
  tags:
    - build
  variables:
    http_proxy: http://127.0.0.1:3128
    https_proxy: http://127.0.0.1:3128
    ftp_proxy: http://127.0.0.1:3128
  script:
    - git clone -q git@git.pima.com:vauxoo/pima.wiki.git
    - cd instance.wiki && cp -R ../pima/doc/* . && cat ../pima/doc/home.md ../README.md > home.md && git add .
    - ../check_doc.sh
  environment:
    name: documentation
    url: https://git.vauxoo.com/vauxoo/pima/wikis

pages:
  stage: test_build
  dependencies:
    - test
  variables:
    http_proxy: ""
    https_proxy: ""
  script:
    - mkdir public/$CI_COMMIT_REF_NAME -p || true ; mv $CI_COMMIT_REF_NAME public/$CI_COMMIT_REF_NAME/coverage
    - cp -r public/$CI_COMMIT_REF_NAME/coverage/* public/$CI_COMMIT_REF_NAME/
    - echo "Coverage report can be found in:"
    - echo "https://${CI_PROJECT_NAMESPACE}.pages.vauxoo.com/${CI_PROJECT_NAME}/${CI_COMMIT_REF_NAME}/coverage"
  environment:
    name: coverage
    url: https://${CI_PROJECT_NAMESPACE}.pages.vauxoo.com/${CI_PROJECT_NAME}/${CI_COMMIT_REF_NAME}/coverage
  artifacts:
    paths:
      - public

upload_image:
  stage: upload_image
  only:
    - 11.0@vauxoo/pima
  when: on_success
  tags:
    - build
  variables:
    http_proxy: http://127.0.0.1:3128
    https_proxy: http://127.0.0.1:3128
    ftp_proxy: http://127.0.0.1:3128
  script:
    - pip install deployv-addon-gitlab-tools
    - deployvcmd gitlab_tools upload_image
 
