language: python

sudo: false
cache:
  apt: true
  directories:
    - $HOME/.pip-cache/

addons:
  apt:
    packages:
      - expect-dev
      - python-lxml
      - python-simplejson
      - python-yaml
      - swig  # Required for m2crypto
      - python-m2crypto
      - xmlstarlet
      - xsltproc
      - xmlstarlet
      - openssl
      - poppler-utils
      - antiword

python:
  - "2.7"

virtualenv:
  system_site_packages: true

env:
  global:
  - PHANTOMJS_TESTS="0"
  - TEST_OTHER_PROJECTS="${HOME}/addons-vauxoo"
  - LINT_CHECK=0 TESTS="0"
  - VERSION="saas-16" ODOO_REPO="vauxoo/odoo"
  - INCLUDE="vauxoo"

  matrix:
  - LINT_CHECK=1
  - TESTS="1"

install:
  - git clone --single-branch --depth=1 https://github.com/vauxoo/maintainer-quality-tools.git -b master ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - pip install -r requirements.txt  # temporal until fix mqt
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
